
.navbar .navbar-brand img{
    width: 40px;
}

/*footer part*/

footer{
    margin-bottom: 0px;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    background-color: #006dad;
    color: white;
}
footer{
    z-index: 100;
}
footer a{
    color: #0c4668;
}

/*Error massage*/

.error-msg {
    color: #b30000;
}